@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../Primeiro-Projeto/fontes/idroid.otf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #ebe5c5;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6) );
    text-align: center;
    color:white;
    height: 0px;
    margin: auto;
    box-shadow:  5px 5px 10px 10px rgba(0, 0, 0, 0.589);
    min-height: 250px;
} 

header > h1 {
    font-family: "bebas neue", cursive;
    font-size: 3em;
    padding: 40px;
    text-shadow: 1px 1px 1px black;
    font-weight: 300;
    padding-bottom: 20px;
}

header > p {
    text-shadow: 1px 1px 1px black;
    margin:auto; 
    font-size: 1.2em;
    padding-bottom: 0px;
}

nav {
    text-align: left;
    background-color: #063d1e;
    padding: 10px;
    margin: auto;
    padding-top: 0px;
    
}

nav > a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: 700;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

nav > a:hover {
    color:#063d1e;
    background-color: var(--cor4);
    transition-duration: 0.8s;
}

main {
    min-width: 300px;
    max-width: 800px;
    width: 90%;
    /* Por que "max e min" width e não apenas "width"? Se você colocar apenas width, o texto do main não vai ser responsivo e não vai se adaptar a página, quebrando consequentemente. */
    margin: auto;
    background-color: white;
    line-height: 2em;
    padding: 20px;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.589) 0px 1px 10px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
}

main > p {
    padding: 10px;
    text-indent: 1em;
}

main > h1 {
    color: var(--cor6);
    font-family: 'Android',cursive;
    font-weight: 300;
}

main > img {
    width:80%;
    /*a melhor width é 80% nesse layout pois com 100% a imagem quebra o main*/
    margin: auto;
    display: block;
}

main > img.pq {
    max-width: 350px;
    margin: auto;
}

.secondtitle {
    background-image: linear-gradient(to right, var(--cor2), white);
    color:var(--cor5) ;
    text-indent: 1em;
    font-family: 'Android', cursive;
    font-weight: 300;
}

#video {
    background-color: #063d1e;
    text-align: center;
    padding: 50px;
    margin: 0px -20px;
    position: relative;
    height: 400px;
}

#video > iframe {
    position:absolute;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;

}

#extra {
    background-color: var(--cor2);
    margin-top: 30px;
    border-radius: 10px;
}

#extra > h3 {
    background-color: var(--cor5);
    color: white;
    text-indent: 0.5em;
    border-radius: 10px 10px 0px 0px;
    padding: 3px;
}

#extra > p {
    padding: 10px;
    text-indent: 1.5em;
}

#extra > ol {
    padding: 0px;
    margin: 0px;
}

#lista {
    columns: 2;
    list-style-position: inside;
    padding-left: 5px;
    text-align: center;
    text-align: justify;
}

footer {
    background-color: #063d1e;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 0.8em;
}

footer > a {
    color: white;
    text-decoration: none;
}

footer > a:hover {
    color: #3ddc84;
    text-decoration: underline;
}

.linkinterno {
    background-color: var(--cor2);
    color: var(--cor6);
    text-decoration: none;
}

.linkinterno:hover {
    text-decoration: underline;
    color: var(--cor5);
}

.negritointerno {
    color:var(--cor5)
}   